h3 {
  font-size: 1.444em;
  line-height: 1.23em;
  margin: 0;
}

p {
  margin: 0;
}

input,
textarea,
button {
  font-size: 18px;
}

a {
  text-decoration: none;
  outline: none;
}

html{
  font-family: Helvetica Neue,Helvetica,serif;
}
